<h2><%= teacher.name %></h2>

<p> Students :
<%= teacher.students.each do |student| %>
  <%= student.name %><br>
  Number of students: <%= teacher.students.count %>
 <% end %>

  </p>

  <p> Courses :
<%= teacher.courses.each do |course| %>
  <%= course.name %><br>
  <% end %>
  </p>

