<h2>Stats for <%= teacher.name %></h2>

<p> Students :
<%teacher.students.each do |student| %>
  <%= student.name %>
  <br>
 <% end %><br>
   Number of students: <%= teacher.students.count %>
  </p>

  <p> Courses :
<% teacher.courses.each do |course| %>
  <%= course.name %><br>
  <% end %>
   Number of courses: <%= teacher.courses.count %>

  </p>

