<h2><%= teacher.name %></h2>

<p> Students :
<%= teacher.students.each do |student| %>
  <%= student.name %>
<!--   <%# students.count %>
 -->  <% end %>

  </p>

  <p> Courses :
<%= teacher.courses.each do |course| %>
  <%= course.name %>
  <!-- <%# courses.count %> -->
  <% end %>
  </p>

