<h1>Schools</h1>


  <ul class="list-group">
    <% schools.each do |school| %>
      <li class="list-group-item"><%= link_to( school.name, school_path(school)) %> </li>
    <% end %>
  </ul>

  <nav>
    <ul class="pager">
      <li><%= link_to('Teachers index', teachers_path) %></li>
      <li><%= link_to('Courses index', courses_path) %></li>
    </ul>
  </nav>

  <footer>
  <!-- offset -->
  <%= link_to("< Previous page" , root_path(page: page - 1)) unless page < 0 %>
  <%= link_to("More on next page >", root_path(page: page + 1)) if schools.size >= 25 %>
  </footer>
