<h2><%= school.name %></h2>

<h3> School stats :</h3>

<table class="table table-hover">
    <th> Student name </th>
      <% school.students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
    </tr>
  <% end %>

    <tr>
      <th> Teacher name </th>
    </tr>
      <% school.teachers.each do |teacher| %>
    <tr>
      <td><%= teacher.name %></td>
    </tr>
  <% end %>

    <tr>
      <th> Course name </th>
    </tr>
      <% school.courses.each do |course| %>
    <tr>
      <%= course.name %><br>
    </tr>
  <% end %>
</table>

  <p>Number of students: <%= school.students.count %></p>
  <p>Number of teachers: <%= school.teachers.count %></p>
  <p>Number of courses: <%= school.courses.count %></p>


