<h2><%= school.name %></h2>

<p> Students :
<%= school.students.each do |student| %>
  <%= student.name %>
  <% end %>
  </p>

  <p> Teachers :
<%= school.teachers.each do |teacher| %>
  <%= teacher.name %>
  <% end %>
  </p>
