<h1>A list of all courses</h1>

<ul>
  <% courses.each do |course| %>
  <li><%= link_to(course.name, courses_path(courses)) %></li>
 <% end %>


<%= link_to('Teachers index', teachers_path) %>
<%= link_to('Schools index', schools_path) %>

  <%= link_to("< Previous page" , courses_path(page: page - 1)) unless page < 0 %>
  <%= link_to("More on next page >", courses_path(page: page + 1)) %>

