<!DOCTYPE html>
<html>
<head>
  <title>Schoolapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header class>
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Courses</a></li>
    <li role="presentation"><a href="#">Teachers</a></li>
  </ul>
</header>
<body class="text-center">

<%= yield %>
</body>

<nav>
  <ul class="pager">
    <li><%= link_to('Home', root_path) %></li>
  </ul>
</nav>

<footer class=>
created by @mmdotz
</footer>
</html>

